<% provide(:title, 'Home') %>

<div class="center hero-unit">
	
	<h1><font face="Permanent Marker" color="#ff6666", font-weight="normal">OSEBLI-</FONT>Unterrichtsplaner</h1>
	<h2>
		Mit Hilfe dieser Webanwendung werden sich demnächst Unterichtspläne erstellen lassen.
	</h2>
	<%= link_to "Jetzt registrieren!", signup_path, class: "btn btn-large btn-success" %>
</div>

<div class="row text-center">
	           <div class="span3 hero-feature">
                <div class="thumbnail">
                    <%= link_to image_tag("technology.jpg", alt: "Osebli"), about_path, id: "logo" %>
                    <div class="caption">
                        <h3>OSEBLI</h3>
                        <p>Mit OSEBLI können Unterichtspläne erstellt  werden.</p>
                        <p>
                          	<%= link_to "Erfahre mehr!", about_path, class: "btn btn-info" %>
                        </p>
                    </div>
                </div>
            </div>

           <div class="span3 hero-feature">
                <div class="thumbnail">
                    <%= link_to image_tag("board.jpg", alt: "Osebli"), choreographies_path, id: "logo" %>
                    <div  class="caption">
                        <h3>Basismodelle des Unterrichts</h3>
                        <p>Erfahre  mehr über die 'Choreographien unterrichtlichen Lernens'</p>
                        <p><%= link_to "Erfahre mehr!",
                        choreographies_path, class: "btn btn-info" %></p>
                    </div>
                </div>
            </div>

            <div class="span3 hero-feature">
                <div class="thumbnail">
                    <%= link_to image_tag("board.jpg", alt: "Osebli"), about_path, id: "logo" %>
                    <div  class="caption">
                        <h3>CK-Editor</h3>
                        <p>Die Pläne können komfortabel mit Hilfe des
                            CK-Editors verfasst werden.</p>
                        <p><%= link_to "Erfahre mehr!",
                        about_path, class: "btn btn-info" %></p>
                    </div>
                </div>
            </div>
        </div>
        <br>