<% provide(:title, 'Home') %>
<!-- Falls Benutzer eingeloggt ist: -->
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
</div>
<!-- Falls Benutzer NICHT eingeloggt ist: -->
<% else %>
<div class="center hero-unit">
	
	<h1><font face="Permanent Marker" color="#ff6666", font-weight="normal">OSEBLI-</FONT>Unterrichtsplaner</h1>
	<h2>
		Mit Hilfe dieser Webanwendung werden sich demnächst Unterichtspläne erstellen lassen.
	</h2>
	<%= link_to "Jetzt registrieren!", signup_path, class: "btn btn-large btn-success" %>
</div>

<div class="row text-center">
	           <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>OSEBLI</h3>
                        <p>Mit OSEBLI können Unterichtspläne erstellt  werden.</p>
                        <p>
                          	<%= link_to "Erfahre mehr!", about_path, class: "btn btn-info" %>
                        </p>
                    </div>
                </div>
            </div>

           <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>CK-Editor</h3>
                        <p>Die Pläne können komfortabel mit Hilfe des
                        	CK-Editors verfasst werden.</p>
                        <p>
                          	<%= link_to "Erfahre mehr!", about_path, class: "btn btn-info" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>

<% end %>