<% provide(:title, "Sign in") %>
<h1>Bitte melde dich an</h1>
<div class="row">
  <div class="span6 offset3">
    <p>Wenn Du schon bei uns registriert bist gib bitte im untenstehenden Formular Deine Daten an. Solltest Du noch kein Konto bei uns haben, dann kannst Du dich <%= link_to "hier registrieren", signup_path %>.</p>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Anmelden", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>