<!--  -->
<%= form_for @uvp do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_field :title %>
  </div>
  <p>Kurzbeschreibung:</p>
  <div>
    <%= f.text_area :abstract, rows: 5%>
  </div>
  <div >
    <%= f.button "Erstellen" , :class => 'btn  btn-primary' %>
    <button class="btn btn-default">Abbrechen</button>
  </div>
<% end %>
<!-- -->

