<% provide(:title, @user.name) %>
<%= render "navbar" %>
<div class="row">
  <aside class="span4">
    <section>
      <h4>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.surname %>
      </h4>
        <li> erstellt am  <%= Date.parse(@user.created_at.to_s).strftime("%d.%m.%Y") %> </li>
    </section>
  </aside>
  <div class="span8">
    <% if @user.uvps.any? %>
      <h3>Unterrichtspläne (<%= @user.uvps.count %>)</h3>
      <ol class="microposts">
        <%= render @uvps %>
      </ol>

    <% else %>
          <h3>Keine Unterrichtsverlaufspläne</h3>
    <% end %>
  </div>
  <!-- -->
  <!-- -->
</div>